/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

body{
    background-color: #fafafa !important;
}
@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url('../fonts/montserrat/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: Montserrat-Regular;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf');
}


body, html {
	font-family: Poppins-Regular, sans-serif;
}


.bg-custom {
  background-color: #6675DF;
}

.text-custom {
  color: #fff;
  transition: 0.5s ease;
}

.text-custom:hover {
  color: #c2c2c2;
}

.btn-custom {
  background-color: #6675DF;
  color: #fff;
  transition: 0.5s ease;
  padding-top: 14px;
  border-radius: 8px;
}
.btn{
  color: #fff;
  transition: 0.5s ease;
  border-radius: 8px;
}


.btn-custom:hover {
  background-color: #4d58ac;
  color: #fff;
}



.table-responsive th{
    border: 2px solid black !important;
}
.table-responsive td{
    border: 2px solid black !important;
}






